.game{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game h2{
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}

.scores, .options, .status{
  display: flex;
  justify-content: center;
}

.scores h3, .options button{
  margin: 2rem;
  font-size: 1.2rem;
}

.play-again, .reset{
    padding: 1em 2.5em 1em 2.5em;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);    
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.status{
  font-weight: 700;
  font-size: 1.5rem;
}

.board-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}