.board{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.square {
  width: 90px;
  height: 90px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 0px;
  cursor: pointer;
  outline: 0px;
  padding: 0 2px;
  font-weight: 600;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: black;
  margin: 0.2rem;
}

.status{
  font-weight: 700;
}

.board-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}